$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Exo 2', cursive;
$primary-color: #fff;
$secondary-color: #b04c2d;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  color: $secondary-color;
  background-color: $primary-color;
}

a,
a.nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: $secondary-color;
}

a.nav-link:hover {
  color: $primary-color !important;
  border-radius: 4px;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.5em;
  font-weight: 800;
}

h1 {
  font-family: $secondary-font;
}

h2.card-text {
  font-size: 1.3em;
}

h4 {
  color: #3f444a;
  font-size: 16px;
  margin: 8px 0;
}

header {
  height: 10vh;
  background: $primary-color;
  color: $secondary-color;
}

.btn-primary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: $primary-color !important;
  color: $secondary-color !important;
  border-color: $secondary-color !important;
}

.container-fluid {
  min-height: 85vh;
  padding: 0;
}

.main-container {
  border-top: 2px solid $secondary-color;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  color: $secondary-color !important;
  text-decoration: underline;
}


.trick-container img {
  width: 100%;
}

.trick-comment-image img,
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

a.navbar-brand {
  position: absolute;
  top: 40px;
  padding: 0 1em;
  border-radius: 4px;
  z-index: 1;
}

a.navbar-brand img {
  width: 100%;
}

.pagination-content {
  margin: auto;
}

.container-fluid .container {
  max-width: 60%;
}

.home-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-image: url('../img/home.webp');
  filter: grayscale(0.4);

}

#home .box-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-caption {
  max-width: 1230px;
  color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0);
  margin: 0 auto;
  padding: 0 2rem;
  position: absolute;
}

#home h1 {
  line-height: 1.2;
  font-weight: 600;
  display: block;
  max-width: 600px;
  margin-bottom: 10px;
  font-size: 3.5em;
}

.link-down {
  color: #fff;
}

.hr-short {
  position: relative;
  max-width: 70px;
  border: 0;
  border-top: 6px solid $secondary-color;
  text-align: left;
  margin: 10px auto 30px;
}

.trick-description {
  padding: 2em;
  font-size: 1.3em;
  background-color: $secondary-color;
  color: $primary-color;
  width: 100%;
}

.trick-name {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 5em;
  font-weight: 800;
  border-left: 5px solid;
  padding-left: 0.5em;
}

.trick-image-item,
.trick.trick-video-item {
  max-width: 25%;
  margin: 1.5em;
  float: left;
}

.trick-meta {
  padding: 1em;
  border: 0.5px solid;
}

.trick-category-item {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 2px 6px 1px 6px;
  margin: 0 2px;
}

.trick-comment {
  border: 1px solid;
  padding: 1em;
  margin-top: 2em;
  background-color: #ffece6;
}

.trick-comment-date {
  font-size: 0.7em;
  float: right;
  margin-top: 0.5em;
}

.trick-admin-action {
  position: absolute;
  top: 15%;
  right: 15%;
}

#tricks .trick-admin-action {
  right: 0;
  top: 113px;
}

.trick-container .trick-admin-action {
  top: 12%;
  right: 22%;
}

.trick-admin-action form {
  display: inline-block;
}

.trick-admin-action a,
.trick-admin-action button {
  font-size: 1em;
  margin: 0.5em;
  color: $secondary-color;
}


#tricks .trick-admin-action a,
.trick-admin-action button {
  font-size: 1em;
  margin: 0;
  color: $secondary-color;
}

#trick-list,
#trick-loader {
  min-height: 20vh;
}

.delete_trick {
  background: no-repeat;
  border: none;
}

.login-container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-form {
  max-width: 500px;
  margin: auto;
}

.login-form input {
  border: none;
  border-bottom: 3px solid #aa4325;
}

.comment-box {
  border-left: 2px solid;
}

.comment-box,
.trick-box {
  display: none;
}

.comment-form label {
  display: none;
}

.comment-form button {
  float: right;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-object {
  height: 50px;
  width: 50px;
  border-radius: 50px !important;
}

.media-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
