Congratulation, your account has been created.
hi {{ user.getFirstname }}. To activate your account, please click <a
        href="{{ path('activate-account', {'token': user.getToken}) }}">this link</a>