{% extends 'base.html.twig' %}
{% block title %} Home  {% endblock %}
{% block container %}
    {% embed 'core/_modal.html.twig' with {
        'title' : 'CONFIRMATION REQUIRED',
        'body': 'Are you sure you want to delete this tricks?',
        'button': 'DELETE',
        'id': 'deleteTrick'} %}
    {% endembed %}
    <div id="home" class="home-background">
        <div class="home-caption text-uppercase"><h1>Pimp your style!</h1><span
                    class="muted">Enjoy your ride...</span></div>
        <div style="position: absolute; bottom: 30px; right: 30px; color: #ffffff; font-size: 3em"><a
                    class="link-down" href="#tricks"><i class="fa fa-arrow-circle-down"></i></a></div>
    </div>
    <div class="container">
        <section id="tricks" class="text-uppercase text-center mt-5 pb-5">
            <h2 class="mt-5">Tricks</h2>
            <p class="text-muted mb-5">Choose your trick</p>
            <hr class="hr-short">
            <div class="text-center">
                {% include 'core/_tricks.html.twig' %}
            </div>
        </section>
    </div>
{% endblock %}