{% extends 'base.html.twig' %}
{% block title %} 404  {% endblock %}
{% block container %}
    <div class="container-fluid">
        <div class="container mt-5">
            <h1>Nothing here!</h1>
        </div>
    </div>
{% endblock %}